<ng-container *ngIf="countryInfo$ | async; let info else loadingTemplate">
  <h2 class="header">country: {{ selectedCountry$ | async }}</h2>
  <div class="table" *ngFor="let countryInfo of info">
    <div class="countries">
      <div class="label">
        <span>{{ countryInfo.flag }}</span>
        <span>{{ countryInfo.fifa }}</span>
      </div>
      <span class="label">Capital: {{ countryInfo.capital }}</span>
      <span class="label">currency: {{ getCurrency(countryInfo).name }}
        symbol:
        {{ getCurrency(countryInfo).symbol }}
      </span>
      <span class="label">population:
        {{ convertToMillions(countryInfo.population, 2, true) }}</span>
    </div>
  </div>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>